@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.bg-img{
    background: url("1111739.jpg");   
    height: 750px;
    background-size:cover;
    background-position: center;
}

.bg-img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    text-align: center;
    height: 100;
    width: 100;
    background: rgba(255, 255, 255, 0.174) ;
}
.content {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 60px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.174);

    border: 1px solid #fff;
    backdrop-filter:blur(5px);
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
}

.content header {
    color: black;
    text-decoration: underline;
    font-size:35px;
    font-weight:600;
    margin: 0 0 35px 0;
    font-family:"Montserrat", sans-serif;
}
.field {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}
.field span {
    color: rgb(13, 13, 13);
    width: 40px;
    line-height: 45px;
}
.field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.space {
    margin-top: 16px;    
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}

.space span {
    color: rgb(13, 13, 13);
    width: 40px;
    line-height: 45px;
}

.space input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.show {
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family:"Montserrat", sans-serif;
}

.pass-key: valid ~ .show {
    display: block;
}
.pass {
    text-align: left;
    margin: 30px 0;
}
.pass a{
    color: whitesmoke;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.pass:hover a{
    background-color: aliceblue;
    color: #222;
    text-decoration: underline;
}
.field input[type+"submit"] {
    background: #682efc;
    border: 10px solid #7741fd;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: .4s ease;
}
.field input[type="submit"]:hover {
    background: #FED8B1;
}
.login {
    color: white;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
}
i span{
    margin-left: 8px ;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 15px;
    text-align: center;
    float: center;
    color: white;
}